* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 2rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
  bottom: 2rem;
}

.toast-container {
  position: fixed;
  right: 1rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
  top: 0.5rem;
  animation: fade-in 250ms ease-in-out;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
  .toast-container {
    top: unset;
    bottom: 2rem;
    right: 2rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.basket {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.4);
}

.backet-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  width: 50rem;
  max-width: 90%;
  box-shadow: 2px 2px 15px #424242;

  animation: show 500ms ease-in-out;
}

.delete {
  cursor: pointer;
  color: #424242;
}

.basket_close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
}

.basket_down {
  height: 55px;
  justify-content: center;
}

.basket-quantity {
  cursor: pointer;
  color: #424242;
  vertical-align: middle;
  margin: 0 15px;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
